
.AddButton {

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: green;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
  }
  
  .AddButton1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: red;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
  }
  
  .Component {
  
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkblue;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  
  }
  
  /* button {
    width: 500px;
    height: 200px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
  } */
  
  .hero-section{
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    background-color: #34495E;
    display: grid;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-image: url(https://images.pexels.com/photos/7464493/pexels-photo-7464493.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat:inherit;
    min-height: 70vh;
  }
  
  .hero1{
    height: max-content;
    width: max-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-iteration-count: 2;
    background-color:rgb(44, 109, 175);
    color:#ADEFD1FF;
    font-size: 3.5rem;
    /* border: 2px solid red; */
    margin: auto;
    margin-right: 36%;
    margin-bottom: 30%;
    margin-top: 1%;
    padding: 0.85em;
    transform: skew(-15deg);
    /* border-radius: 5px; */
  }