.navbar{
    background: #fff;
    color: #162D3D;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

}
.navbar > * {
    /* border: 2px solid red; */
}
.navbar-left{
    display: flex;
    align-items: center;
}
.title{
    font-weight: 500;
    font-style: italic;
    margin-left: 1em;
    color: #162D3D;
    font-size: 1.4rem;
}
.logo{
    width: 40px;
}
.navbar-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.navbar-links a{
    text-decoration: none;
    color: inherit;
}
.navbar-link{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    min-width: 270px;
}
.user-details{
    display: flex;
    border: 2px solid rgb(203, 203, 203);
    margin-right: 1em;
    padding: 0.3em 0.6em;
    align-items: center;
    border-radius: 30px;
    gap: 0.5em;
    font-size: 0.85rem;
}
.user-details img{
    width: 30px;
    border-radius: 50%;
}
.logout-btn {
    border: 1px solid hsl(0, 0%, 85%);
    width: 40%;
    margin: 1em auto;
    padding: 0.5em;
    cursor: pointer;
    background: #eb625b;
    color: #fff;
    border-radius: 5px;
    font-family: inherit;
}