.navbar{
    background: #fff;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.title{
    font-weight: bold;
    
}
.logo{
    width: 40px;
}
.navbar-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.navbar-link{
    cursor: pointer;
}